---
import MainLayout from "../layouts/MainLayout.astro";
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import billede_mig from "../assets/images/billede_mig.png";
import mappe from "../assets/images/mappe.svg";
import empty_mappe from "../assets/images/empty_mappe.svg";
import water from "../assets/images/water.png";
import ai from "../assets/images/ai.svg";
import css from "../assets/images/css.svg";
import figma from "../assets/images/figma.svg";
import github from "../assets/images/github.svg";
import html from "../assets/images/html.svg";
import id from "../assets/images/id.svg";
import js from "../assets/images/js.svg";
import ps from "../assets/images/ps.svg";
import tailwind from "../assets/images/tailwind.svg";
import vscode from "../assets/images/vscode.svg";
import on_chair from "../assets/images/on_chair.png";
import illustrator from "../assets/images/illustrator.png";
import magivenner from "../assets/images/magivenner.png";
import pyoma from "../assets/images/pyoma.png";
---
<MainLayout title="Digital Ansøgning">
<section>
	<div class="grid grid-cols-2 pt-40 lg:pt-15 lg:ml-40 lg:mr-50">
  <!-- Første billede -->
  <div>
    <Image src={billede_mig} format="webp" alt="Portrætbillede af pige" class="w-sm lg:w-auto"/>
  </div>

  <!-- Mappe + Tekst -->
  <div class="relative">
    <div class="px-6 drop-shadow-2xl"><Image src={empty_mappe} alt="Computer mappe icon"/></div>

    <!-- Tekst placeret ovenpå billedet -->
    <div class="absolute top-1/4 lg:top-1/5 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center animate__animated animate__fadeInUp delay-150">
      <h1 class="text-3xl lg:text-8xl font-medium">Caroline</h1>
      <h2 class="text-4xl lg:text-9xl font-bold uppercase">Bomholt</h2>
    </div>
  </div>
</div>
<p class="uppercase absolute items-center lg:mx-20 text-xs lg:text-lg">Designer med - overblik, detaljer og passion</p>
</section>

<section>
  <div class="relative mt-45">
    <Image src={water} format="webp" alt="klippe i vandet" class="w-full sm:h-[800px] lg:h-[1100px] object-cover" />
    
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full px-4 sm:px-10 lg:px-16 max-w-screen-xl text-center">
      
		<!-- Overskrift med margin til de næste sektioner -->
      	<div class="text-center">
        	<p class="text-white font-bold text-4xl lg:text-7xl">Kvalifikationer.</p>
      	</div>

     	 <!-- De tre div'er med billeder -->
      	<div class="py-3 px-6 border border-none rounded-[50px] bg-white/75 flex justify-center gap-15 lg:gap-50 mx-auto mt-16">
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={ai} alt="" class="w-10 lg:w-18 h-auto" /></div>
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={ps} alt="" class="w-10 lg:w-18 h-auto" /></div>
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={id} alt="" class="w-10 lg:w-18 h-auto" /></div>
    	</div>

    	<div class="py-3 px-6 border border-none rounded-[50px] bg-white/75 flex justify-center gap-15 lg:gap-50 mx-auto mt-16">
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={figma} alt="" class="w-10 lg:w-18 h-auto" /></div>
			<div class="hover:scale-125 delay-150 duration-30 opacity-50 hover:opacity-100"><Image src={vscode} alt="" class="w-10 lg:w-18 h-auto"/></div>
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={github} alt="" class="w-10 lg:w-18 h-auto" /></div>
    	</div>

    	<div class="py-3 px-6 border border-none rounded-[50px] bg-white/75 flex justify-center gap-15 lg:gap-40 mx-auto mt-16">
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={html} alt="" class="w-10 lg:w-18 h-auto" /></div>
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={js} alt="" class="w-10 lg:w-18 h-auto" /></div>
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={css} alt="" class="w-10 lg:w-18 h-auto" /></div>
			<div class="hover:scale-125 delay-150 duration-300 opacity-50 hover:opacity-100"><Image src={tailwind} alt="" class="w-10 lg:w-18 h-auto" /></div>
    	</div>
    </div>
  </div>
</section>

<section class="mx-20 lg:mx-45 mt-20 lg:mt-50">
<div class="lg:grid gap-0 grid-cols-2">
	<Image src={on_chair} alt="" class="w-lg place-self-center"/>
	<div>
		<h1 class="uppercase font-bold text-8xl lg:text-[180px]/55">Hvem er jeg?</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
			<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
</section>

<section class="relative flex mt-20 lg:mt-50">
    <!-- Sticky container til overskriften -->
    <div class="w-1/2 h-screen sticky top-0 flex items-center">
        <h2 class="font-bold text-4xl lg:text-8xl uppercase leading-none ml-20">Udvalgte projekter</h2>
    </div>

    <!-- Billedsektion -->
    <div class="w-1/2 flex flex-col space-y-10">
        <div class="project"><Image src={illustrator} alt="" /></div>
        <div class="project"><Image src={magivenner} alt="" /></div>
        <div class="project"><Image src={pyoma} alt="" /></div>
        <div class="project"><Image src={illustrator} alt="" /></div>
    </div>
</section>
</MainLayout>